    <%= render "layouts/header" %>  
<div class="center">
<h1>Creating a New Classroom</h1>
<%= form_for(@classroom) do |f| %>
  <label>Classroom Code:</label><br>
  <%= f.text_field :classroom_code %><br>

  <label>Classroom Name</label><br>
  <%= f.text_area :classroom_name %><br>

  <label>Classroom Gender</label><br>
  <%= f.text_area :classroom_gender %><br> 

    <label>Teacher Name</label><br>
  <%= f.collection_select :teacher, Teacher.all, :id, :teacher_name, { include_blank: false }, { class: "collectionselect" } %><br>

  <%= f.submit %>
<% end %>

</div>