    <%= render "layouts/header" %>  

<div class="center">

<h1>Updating a STUDENT DATA</h1>
<%= form_for(@student) do |f| %>
  <label>Student Code:</label><br>
  <%= f.text_field :student_code %><br>

  <label>Name of Student</label><br>
  <%= f.text_area :student_name %><br>

  <label>Date of Birth</label><br>
  <%= f.text_area :student_date_of_birth %><br>

  <label>Contact Email</label><br>
  <%= f.text_area :student_email %><br>

  <label>Home Address</label><br>
  <%= f.text_area :student_homeaddress %><br>  

  <label>Contact Mobile</label><br>
  <%= f.text_area :student_mobile_number %><br>

  <label>Gender of Student</label><br>
  <%= f.text_area :student_gender %><br>

  <label>Name of Parent</label><br>
  <%= f.text_area :student_parent_name %><br>

  <label>Enrolment Date</label><br>
  <%= f.text_area :enrolled_date %><br>

  <label>Classroom ID</label><br>
  <%= f.text_area :classroom_id %><br>

 <label>Tuition Fee ID</label><br>
  <%= f.text_area :tuitionfee_id %><br>

  <%= f.submit %>
<% end %>

</div>

