<h3 class="center"> FOLLOWING ARE THE DETAILS OF STUDENT "<%= @student.student_name %>"</h3>

<div class='main-centre tableFixHead'>
    <table class="center">
      <thead>
        <tr>
            <th>DESCRIPTION</th>
            <th>VALUE</th>
        </tr>
      </thead>
      <tbody>
          <tr>
          <td>STUDENT CODE:</td>
          <td><%= @student.student_code %></td>
          </tr>
          <tr>
          <td>NAME OF STUDENT:</td>
          <td><%= @student.student_name %></td>
          </tr>
          <tr>
          <td>DATE OF BIRTH:</td>
          <td><%= @student.student_date_of_birth %></td>
          </tr>
          <tr>
          <td>CONTACT EMAIL:</td>
          <td><%= @student.student_email %></td>
          </tr>
          <tr>
          <td>HOME ADDRESS:</td>
          <td><%= @student.student_homeaddress %></td>
          </tr>
          <tr>
          <td>CONTACT MOBILE NUMBER:</td>
          <td><%= @student.student_mobile_number %></td>
          </tr>
          <tr>
          <td>GENDER OF STUDENT:</td>
          <td><%= @student.student_gender %></td>
          </tr>
          <tr>
          <td>NAME OF PARENT:</td>
          <td><%= @student.student_parent_name %></td>
          </tr>
          <tr>
          <td>DATE OF ENROLMENT:</td>
          <td><%= @student.enrolled_date %></td>
          </tr>
          <tr>
          <td>CLASSROOM ID:</td>
          <td><%= @student.classroom_id %></td>
          </tr>
          <tr>
          <td>TUITION FEE ID:</td>
          <td><%= @student.tuitionfee_id %></td>
          </tr>

      </tbody>
    </table>
  </div>
  <br>
  <br>

<table class="center">
      <thead>
        <tr>
            <th><%= link_to "DELETE", @student, method: :delete, data: { confirm: "Really want to DELETE the Data of the Student #{@salary.to_s}?" } %></th>
            <th><%= link_to "UPDATE", edit_student_path(@student) %></th>
            <th><%= link_to "BACK", students_path %></th>
        </tr>
      </thead>
</table>