    <%= render "layouts/header" %>  

<h3 class="center"> FOLLOWING ARE THE DETAILS OF TEACHER "<%= @teacher.teacher_name %>"</h3>

<div class='main-centre tableFixHead'>
    <table class="center">
      <thead>
        <tr>
            <th>DESCRIPTION</th>
            <th>VALUE</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>TEACHER CODE:</td>
            <td><%= @teacher.teacher_code %></td>
          </tr>
          <tr>
          <td>NAME OF TEACHER:</td>
          <td><%= @teacher.teacher_name.titleize %></td>
          </tr>
          <tr>
          <td>TEACHER's EMAIL ID:</td>
          <td><%= @teacher.teacher_email %></td>
          </tr>
          <tr>
          <td>TEACHER's HOME ADDRESS:</td>
          <td><%= @teacher.teacher_homeaddress %></td>
          </tr>
          <tr>
          <td>TEACHER's MOBILE NUMBER:</td>
          <td><%= @teacher.teacher_mobile_number %></td>
          </tr>
          <tr>
          <td>TEACHER's GENDER:</td>
          <td><%= @teacher.teacher_gender %></td>
          </tr>
          <tr>
          <td>TEACHER's ENGAGEMENT DATE:</td>
          <td><%= @teacher.engagement_date %></td>
          </tr>
          <tr>
          <td>TEACHER's BANK DETAILS:</td>
          <td><%= @teacher.teacher_bankdetails %></td>
          </tr>
          <tr>
          <td>TEACHER's SALARY ID:</td>
          <td><%= @teacher.salary_id %></td>
          </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>

<table class="center">
      <thead>
        <tr>
            <th><%= link_to "DELETE", @teacher, method: :delete, data: { confirm: "Really want to DELETE the Teacher Data? #{@teacher.to_s}?" } %></th>
            <th><%= link_to "UPDATE", edit_teacher_path(@teacher) %></th>
            <th><%= link_to "BACK", teachers_path %></th>
        </tr>
      </thead>
</table>