    <%= render "layouts/header" %>    
  
  <h1 class="center">All Salary Payment Categories</h1>

  <div class='main-centre tableFixHead'>
    <table class="center">
      <thead>
        <tr>
            <th>SALARY PAYMENT ID</th>
            <th>SALARY PAYMENT CODE</th>
            <th>DATE OF PAYMENT</th>
            <th>AMOUNT OF PAYMENT</th>
            <th>TEACHER NAME</th>         
            <th>DETAILS/UPDATE/DELETE</th>
        </tr>
      </thead>
      <tbody>
        <% @salarypayments.each do |amount| %>
          <tr>
            <td><%= amount.id %></td>
            <td><%= amount.salarypayment_code %></td>
            <td><%= amount.date_of_payment %></td>
            <td><%= amount.amount_of_payment %></td>
            <td><%= amount.name_of_teacher %></td>         
            <td><%= link_to "DETAILS/UPDATE/DELETE", salarypayment_path(amount) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<br>
<br>
<table class="center">
      <thead>
        <tr>
          <th><%= link_to "+ Create Salary Payment", new_salarypayment_path %></th>
        </tr>
      </thead>
</table>