<div class='topnav'>
    <a><%= link_to "STUDENTS", students_path %></a>
    <a><%= link_to "TEACHERS", teachers_path %></a>
    <a><%= link_to "CLASS ROOM", classrooms_path %></a>
    <a><%= link_to "SALARY PAYMENT", salarypayments_path %></a>
    <a><%= link_to "FEE PAYMENT", feepayments_path %></a>
    <a><%= link_to "SALARY", salaries_path %></a>
	<a><%= link_to "TUITION FEE", tuitionfees_path %></a>
   	<a><%= link_to "USERS", users_path %></a> 
    <a><%= link_to "EXIT", root_path %></a>
    
</div>
